<script>
  const navToggle = document.getElementById('navToggle');
  const mainNav = document.getElementById('mainNav');
  navToggle.onclick = function() {
      mainNav.classList.toggle('show-nav');
      navToggle.classList.toggle('open');
  };
</script>

</body>
</html>
