<%- include('../includes/head') %>
<%- include('../includes/nav') %>

<main>
    <h1>Your Orders</h1>
    <p>You have no orders yet.</p>
    <!-- 
      Later, you can add a table or list here 
      to show each order.
    -->
</main>

<%- include('../includes/end') %>
